@charset "UTF-8";
/* variables */
/* mixins */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* --------- CSS reset ---------  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------- GENERAL ---------  */
/* MBP 16': 1728 x 1112px */
body {
  background-image: url("img/chalk-double.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  font-family: Alegreya, serif;
  color: white;
  line-height: 2.2em;
}

main {
  margin: 2em 2em;
}

section {
  max-height: auto;
}

/* img */
img {
  -webkit-box-shadow: 0 10px 18px 10px rgba(0, 0, 0, 0.19), 0 6px 8px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 18px 10px rgba(0, 0, 0, 0.19), 0 6px 8px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  margin: 2em 1em;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img.anchor-icon {
  opacity: 0.3;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: unset;
  max-width: 1.5em;
}

/* text */
a {
  color: white;
  font-weight: 400;
}

h1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  font-size: 4.4em;
  letter-spacing: 0.5em;
  line-height: 2em;
  margin: 1.2em 0.5em 1.2em 0.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p {
  margin: 2em 2em;
  font-size: 1.5em;
  text-align: justify;
}

.img-caption {
  font-family: Alegreya Sans, sans-serif;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: unset;
}

.icon-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-height: auto;
  overflow: hidden;
  padding: 3em 0 0 2em;
}

/* --------- header ---------  */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  margin: unset;
}

#main-img {
  max-width: 150vw;
  overflow: visible;
  margin: unset;
}

p#main-img-caption {
  font-size: 1.05em;
  font-weight: 500;
  letter-spacing: 0.14em;
  text-align: center;
  margin: 0 2em;
  padding: 2em 1em 5em 1em;
  border-bottom: 0.1px solid white;
}

/* --------- early years ---------  */
.early-years {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 2em;
}

/* img */
#early-img {
  max-width: 50vw;
  margin: 0;
}

div.img-container.early {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding: 3em 0 0 2em;
}

/* txt */
ul {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  overflow: visible;
  margin: 2em 2em;
}

li {
  margin-left: 3em;
  list-style-type: disc;
  font-size: 1.2em;
}

.early-years p:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  overflow: visible;
  padding-left: 2em;
}

.early-years .img-caption {
  padding-top: 2em;
}

.jebeni-paragraf {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  overflow: visible;
  padding-bottom: 4em;
  margin: 0 0;
  border-bottom: 0.1px solid white;
}

/* --------- amsterdam-ulay ---------  */
.amsterdam-ulay {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  /* makes rows shrink follow content height */
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 2em 2em;
}

#amsterdam-img {
  max-width: 55vw;
}

/* img */
#amsterdam-img {
  max-width: 50vw;
}

div.img-container.amsterdam {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  padding-top: 1em;
}

/* txt */
.amsterdam-ulay p:first-child {
  margin: 2em 1em 2em 1em;
}

.amsterdam-ulay p:last-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  padding-bottom: 4em;
  margin: 0 1em;
}

#amsterdam-last {
  border-bottom: 0.1px solid white;
}

/* --------- fame ---------  */
/* img */
#fame-img {
  max-width: 70vw;
}

/* txt */
.fame p:last-child {
  padding-bottom: 4em;
  margin: 0 2em;
}

#fame-last {
  padding-bottom: 4em;
  margin: 0 2em;
  border-bottom: 0.1px solid white;
}

/* --------- artist-present ---------  */
.artist-present {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  /* makes rows shrink follow content height */
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 2em 2em;
}

/* img */
div.img-container.artist {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

#artist-img {
  max-width: 45vw;
}

/* txt */
.artist-present p:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin: 1em 1em 2em 1em;
}

.artist-present p:nth-child(2) {
  margin: 1em 1em 0 0;
}

.artist-present p:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 4;
  grid-row: 4;
  padding-bottom: 4em;
  border-bottom: 0.1px solid white;
  margin: 2em 0 0 0;
}

/* --------- footer ---------  */
footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 2em;
}

/* img */
#book {
  max-width: 30vw;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* txt */
pre {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-right: 1em;
  font-style: italic;
  font-size: 1.5em;
  letter-spacing: 0.02em;
  line-height: 1.7em;
  text-align: center;
}

.tribute-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  margin-top: 6em;
  border-top: 0.1px solid white;
  padding-top: 2em;
  font-family: Alegreya Sans, sans-serif;
  text-align: center;
  font-size: 0.9em;
}

#tribute-link {
  text-decoration: none;
  font-weight: 700;
}

/* --------- MEDIA QUERIES ---------  */
/* --------- medium desktop ---------  */
/* --------- tablet ---------  */
/* --------- mobile ---------  */
/* Svi uređaji širine manje od 1024px */
/*# sourceMappingURL=abramovic.css.map */